<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<title>KKWoo</title>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="/index">Home</a>
          <a class="nav-link" href="/chat">ChatRoom</a>
          <a class="nav-link active" href="/contact">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading"></h1>
      <br>
      <p class="lead">
      </p>
    </main>
    <!--
  <footer class="mastfoot mt-auto">
  </footer> -->
  </div>
</body>
<script>
  function play() {
    location.href = "https://account.kkbox.com/oauth2/authorize?response_type=code&client_id=8fee04af2d27c0c0e5125b86dfdf88f4&state=123&redirect_uri=http%3A%2F%2Flocalhost:5000/redirect"
  }
</script>
<html>
