<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/sweet.js" ></script>
    <link rel="shortcut icon" href="../static/img/kkwoo.ico">
  </head>

  <title>KKWoo</title>

  <body class="text-center">
    <img class='myimg' src='../static/img/kkwoo.png'>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <header class="masthead mb-auto">
          <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/index">Home</a>
              <a class="nav-link active" href="/chat">ChatRoom</a>
              <a class="nav-link" href="/contact">Contact</a>
            </nav>
          </div>
        </header>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading"> KKWoo</h1>
        <br>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary"> 點擊開始聊天 </a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>
  </body>
  <script src="../static/js/sorry.js" ></script>
<html>
